*{
  box-sizing: border-box;
}

/* write your parent styles in here for your App.js */
html,
body{
    width: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
div,
p,
span{
  color: rgb(0, 16, 236);
}

.App {
    text-align: center;
    margin: 0 auto;
    justify-content: center;
  
}

h1 {
    font-size: 6rem;    
    text-align: center;
    text-shadow: 5px 10px 8px #888888;
}

h2{
  font-size: 3rem;
  text-shadow: 5px 10px 8px #888888;
}

h3{
  font-size: 2rem;
  text-shadow: 5px 10px 8px #888888;
}


.characterCard {
    border: 2px solid gray;
    border-radius: 10px;
    align-items: center;
    width: 30%;
    max-height: 100%;
    margin: 20px auto;
    box-shadow: 5px 10px 8px #888888;
    background-image: url('https://cdn.spacetelescope.org/archives/images/wallpaper2/heic1509a.jpg');  
}

.character-list{
  display: flex;
  flex-flow: row wrap;
  width: 60%;
  margin: 0 auto;
}


